slides > slide.title-slide hgroup h1 {
  font-weight: bold;
  font-size: 48pt;
  color: red;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body slides > slide
{
  height: 800px;
  width: 1400px;
  margin-top: -400px;    /* half of height */
  margin-left: -700px;
  padding:10px 10px;
}




<style>
  .col2 {
    columns: 2 200px;         /* number of columns and width in pixels*/
    -webkit-columns: 2 200px; /* chrome, safari */
    -moz-columns: 2 200px;    /* firefox */
  }
  .col3 {
    columns: 3 100px;
    -webkit-columns: 3 100px;
    -moz-columns: 3 100px;
  }
</style>